/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

.italic {
    font-style: italic;
}

.container {
    max-width: 750px;
    margin: 20px auto;
    border: 1px black;
    border-radius: 6px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}

.hero {
    background-image: url("images/naija.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 343px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headline {
    width: 412px;
    color: white;
    background-color: #A8DADC80;
}

.pic-main_heading {
    color: #ffff;
    text-shadow: -1px 1px 2px #2C1D57,
				  1px 1px 2px #2C1D57,
				  1px -1px 0 #2C1D57,
				  -1px -1px 0 #2C1D57;
                  
    margin-top: 40px;
    margin-bottom: 40px;
}

.activity-wrapper {
    background-color: #EAEEEF;
    padding: 5px 5px 5px 10px;
    margin-top: 10px;
}

img {
    width: 100px;
    height: 100px;
}

.round {
    border-radius: 100%;
}

.round:hover {
    transform: scale(1.3);
}

.activities {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.text-wrap {
    width: 180px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center
}

.main-descrip {
    font-weight: bold;
    color: #2C1D57;
}

.descrip {
    padding-top: 0;
    font-size: 12px;
    width: 130px;
}

.wrapper {
    
    width: 100%;
    display: flex;
    justify-content: space-around 
}

.card {
    
    width: 440px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom:40px;
    background-color: #F1FAEE;
    padding-bottom: 0;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
    

}

.info {
    
   width: 200px;
   font-size: 16px;
   color: #2C1D57;
   padding: 20px;
}


.guide {
   
    width: 100%;
    background-image: url("images/bummi.png");
    background-repeat: no-repeat;
    background-size: cover;
}


#cardcontainer {
    
    display: flex;
    justify-content: space-around;
}

.guide:hover {
    background-image: url("images/her.png");
}